<!DOCTYPE html>
<html>
  <head>
    <title>Stream Camera</title>
    <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
  </head>
  <body>
    <div id="camera" style="margin-top: 60px;">
      <div id="listCamera">

      </div>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="js/camera/listCamera.js"></script>
      <img id="obs">
      <script type="text/javascript" src="/js/camera/viewCamera.js"></script>
    </div>
    <span id="log"></span>
    <script>
      // socket.on('listSocket', (msg) => {
      //   console.log(msg)
      //     // const item = document.getElementById('log');
      //     // item.textContent = msg;
      //   });
    </script>
    
  </body>
  <footer>
    <%- include('./layout/footer');%>
  </footer>
</html>