<!DOCTYPE html>
<html>
  <head>
    <title>Stream Camera</title>
    <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
    <!-- <script>
      const active = document.getElementById('ALL_camera');

    </script> -->
  </head>
  <body>
    <div id="all_cam">
    </div>   
  </body>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!-- <script>
    peer = new Peer(null, {
        debug: 2
    });

    peer.on('open', function (id) {
        // Workaround for peer.reconnect deleting previous id
        if (peer.id === null) {
            console.log('Received null id from peer open');
            peer.id = lastPeerId;
        } else {
            lastPeerId = peer.id;
        }
        console.log('ID: ' + peer.id);
    });
  </script> -->

  <script>
    const all = document.getElementById('all_cam');
    const socket = io();
    
    socket.on("connect", () => {
      socket.on(socket.id,(msg)=>{
        msg.forEach(element => {
          const item = document.createElement('img');
          item.id = element;
          item.width = 320;
          item.src = 'img/nocam/noCamera.jpg'
          all.append(item);
        });
      });
      
      socket.on('connect Socket',(msg)=>{
        const item = document.createElement('img');
        item.id = msg;
        item.width = 320;
        item.src = 'img/nocam/noCamera.jpg'
        all.append(item);
      });

      socket.on('disconnect Socket',(msg)=>{
        const item = document.getElementById(msg)
        all.removeChild(item);
      });

      socket.on('AllCam',(msg)=>{
        const id = document.getElementById(msg.socketID);
        id.src = msg.img;
      });

  });
  </script>
  <footer>
    <%- include('./layout/footer');%>
  </footer>
</html>