<!DOCTYPE html>
<html>
  <%- include('./bootstrap'); %>
  <head>
    <title>Stream Camera</title>
    <%- include('./layout/header'); %>
  </head>
  <body>
    <div id="camera">
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <!-- <script type="text/javascript" src="js/listCamera.js"></script> -->
      <img id="obs">
      <img id="0">
      <img id="1">
      <img id="2">
      <script type="text/javascript" src="/js/viewCamera.js"></script>
    </div>
    <span id="messages"></span>
    
  </body>
  <footer>
    <%- include('./layout/footer');%>
  </footer>
</html>