<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
</head>

<body>

  <script src="js/mission/jquery-1.11.2.min.js"></script>

</body>
<footer>
  <%- include('./layout/footer');%>
</footer>

</html>