<!DOCTYPE html>
<html>
<head>
  <title>Connect Camera</title>
  <%- include('./layout/head'); %>
  <%- include('./layout/header'); %>   
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script> -->
</head>

<body>
  <div class="row">
    <div id="list_camera" class="col-4 scrollarea"></div>
    <div id="view-Cam" class="col-8 " style="position: relative;">
      <video id="webcam" poster="img/nocam/noCamera1.jpg" width="100%" style="position: absolute;" autoplay > </video>
      <canvas id="results" style="position: relative;"></canvas>
    </div>
  </div>
</body>


<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="js/camera/connect-Camera.js"></script> -->

<script src="bundle.js"></script>
<footer>
<%- include('./layout/footer');%>
</footer>

</html>