<!DOCTYPE html>
<html>
<head>
  <title>Connect Camera</title>
  <%- include('./layout/head'); %>
  <%- include('./layout/header'); %>
</head>

<body>
  <div class="row">
    <div id="list_camera" class="col-4 scrollarea"></div>
    <div id="view-Cam" class="col-8 " style="position: relative;">
      <video id="video" poster="img/noCam/noCamera1.jpg" width="100%" style="position: absolute;" playsinline > </video>
      <canvas id="results" style="position: relative;"></canvas>
      <canvas id="preview" style="display: none;"></canvas>
    </div>
  </div>

  
</body>


<script src="/socket.io/socket.io.js"></script>
<script src="js/camera/connect-Camera.js"></script>
<footer>
<%- include('./layout/footer');%>
</footer>

</html>