<!DOCTYPE html>
<html>
<head>
  <title>Connect Camera</title>
  <%- include('./layout/head'); %>
  <%- include('./layout/header'); %>   
</head>

<body>
  <div class="row">
    <div id="list_camera" class="col-4 scrollarea"></div>
    <div id="view-Cam" class="col-8 " style="position: relative;">
      <video id="webcam" poster="img/nocam/noCamera1.jpg" width="100%" style="position: absolute;" autoplay > </video>
      <canvas id="results" style="position: relative;"></canvas>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/3.11.0/tf.min.js" integrity="sha512-ufFDHpWUqU90/5cbhnHp5ZWTtyiYNWqBNn/E5/jDEka1BBA4N74U8/bZn3HP1Ny1Ku4hcs+feHv4KTdb6GbBMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/camera/connect-Camera.js"></script>

<!-- <script src="js/webCam.js"></script> -->
<footer>
<%- include('./layout/footer');%>
</footer>

</html>