<!DOCTYPE html>
<html>

<head>
    <title>Connect Camera</title>
    <%- include('./layout/head'); %>
        <%- include('./layout/header'); %>
</head>

<body>
    <div id="root" class="container" >
        <div id="connect" class="form-floating d-flex">
            <input type="number" class="form-control" name="" id="user_id" value="3469747508247772258">
            <!-- <input type="number" class="form-control" name="" id="user_id" value="3487899611869215778"> -->
            <!-- <input type="number" class="form-control" name="" id="user_id" > -->
            <label class="form-label" for="">User ID: </label>
            <button id="btn_connect" class="btn btn-primary">Connect</button>
        </div style="display: none;">
        <div class="row">
            <div id="list_camera" class="col-3">
            </div>
            <div class="col-9" id="block-test"  style="display: none;">
                <div class="d-flex" id="setting" >
                    <div class="input-group">
                        <label class="input-group-text" for="">x1</label>
                        <input class="form-control" type="number" value="140" id="x1">
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" for="">y1</label>
                        <input class="form-control" type="number" value="60" id="y1">
                    </div>
                    <div>
                        <button id="set_x1y1" class="btn btn-primary">Set</button>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" for="">x2</label>
                        <input class="form-control" type="number" value="55" id="x2">
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" for="">y1</label>
                        <input class="form-control" type="number" value="80" id="y2">
                    </div>
                    <div>
                        <button id="set_x2y2" class="btn btn-primary">Set</button>
                    </div>
                </div>
                <div id="view-Cam">
                    <canvas id="results" ></canvas>
                </div>

            </div>
            <div style="padding: 5px 11px 5px 11px;">
                <textArea id="Serial" class="form-control" cols="4" rows="5" disabled></textArea>
            </div>
            

        </div>
        <div>
            <div style="display: none;">
                <input type="text" id="sensor" value="26.65 92 0.26 0">
                <button id="btn_predict" class="btn btn-primary">predict</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/3.11.0/tf.min.js"
    integrity="sha512-ufFDHpWUqU90/5cbhnHp5ZWTtyiYNWqBNn/E5/jDEka1BBA4N74U8/bZn3HP1Ny1Ku4hcs+feHv4KTdb6GbBMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/camera.js"></script>

<footer>
    <%- include('./layout/footer');%>
</footer>

</html>