<!DOCTYPE html>
<html>
  <head>
    <title>Connect Camera</title>
    <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
  </head>
  <body>
    <div class="" style="margin-top: 60px;" class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div  class="row">
        <div id="list_camera" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-4" ></div>
        <div id="view-Cam" class="col-8">
          <video id="video" src="video/Loading Screen Effect.mp4" width="100%" autoplay loop></video>
          <canvas id="preview" style="display: none;"></canvas>
        </div>
      </div>
    </div>
    <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/camera/connect-Camera.js"></script>
  </body>
  <footer>
    <%- include('./layout/footer');%>
  </footer>
</html>