<!DOCTYPE html>
<html>
<head>
  <title>Connect Camera</title>
  <%- include('./layout/head'); %>
  <%- include('./layout/header'); %>
</head>

<body style="margin-top: 60px; width: 99%;" >
  <div class="row">
    <div id="list_camera" class="col-4">
      <!-- <div id="list_camera" ></div>       -->
    </div>
    <div id="view-Cam" class="col-8 " style="position: relative;">
      <div style="position: relative;">
        <label>FPS</label>
          <select onchange="Connect(this.value)">
            <option value="1">1 fps</option>
            <option value="5">5 fps</option>
            <option value="10">10 fps</option>
          </select>
        <div >
          <video id="video" poster="img/noCam/noCamera1.jpg" width="100%" style="position: absolute;" playsinline > </video>
          <canvas id="results" style="position: relative;"></canvas>
          <canvas id="preview" style="display: none;"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/camera/connect-Camera.js"></script>



</body>
<footer>
  <%- include('./layout/footer');%>
</footer>

</html>