<!DOCTYPE html>
<html>

<head>
    <title>Connect Camera</title>
    <%- include('./layout/head'); %>
        <%- include('./layout/header'); %>

</head>

<body>
    <div class="container-fluid">
        <!-- <div id="connect" class="form-floating d-flex">
            <input type="number" class="form-control" name="" id="user_id" value="3469747508247772258">
            <label class="form-label" for="">User ID: </label>
            <button id="btn_connect" class="btn btn-primary">Connect</button>
        </div> -->


        <div class="row mt-2" id="block-test">
            <div id="list_camera" class="col-md-3">

            </div>
            <div class="col-md-9">
                <div id="view-Cam">
                    <video id="ViewResults" width="100%" autoplay controls></video>
                </div>
            </div>

        </div>
    </div>
    <div>
        <textArea id="Serial" class="form-control" cols="4" rows="5" disabled></textArea>
    </div>

    </div>
</body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/3.11.0/tf.min.js"
    integrity="sha512-ufFDHpWUqU90/5cbhnHp5ZWTtyiYNWqBNn/E5/jDEka1BBA4N74U8/bZn3HP1Ny1Ku4hcs+feHv4KTdb6GbBMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/camera.js"></script>

<footer>
    <%- include('./layout/footer');%>
</footer>

</html>