<!DOCTYPE html>
<html>
  <%- include('./bootstrap'); %>
  <head>
    <title>Stream Camera</title>
    <%- include('./layout/header'); %>
  </head>
  <body>
    <div>
      <form id="config" action="javascript:alert;">
        <select id="videoSource" ></select>
        <select id="fps">
          <option value="1">1 fps</option>
          <option value="5">5 fps</option>
          <option value="10">10 fps</option>
          <option value="15">15 fps</option>
          <option value="30">30 fps</option>
        </select>
        <select id="resolution">
          <option value="144">144p</option>
          <option value="240">240p</option>
          <option value="360">360p</option>
          <option value="640">640p</option>
          <option value="720">720p</option>
          <option value="1280">1280p</option>
        </select>
        <input type="submit" value="Connect">
      </form>
      <video id="video" width="80%" controls autoplay></video>
      <canvas id="preview" style="display: none;" ></canvas>

      
   </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script src="js/connectcamera.js"></script>
      <!-- <Script>
        // var socket = io();
        socket.on('results', (jpeg_as_text) => {
          const item = document.getElementById('detect');
          item.src = `data:image/png;base64,${jpeg_as_text}`;
        });
      </Script> -->
  </body>
  <footer>
    <%- include('./layout/footer');%>
  </footer>
</html>