<!DOCTYPE html>

<html>
   <%- include('./bootstrap'); %>
   <head>
      <%- include('./layout/header'); %>

   </head>
   <body>
      <div class="" style="margin-top: 60px;">

      </div>
   </body>
   <footer>
      <%- include('./layout/footer');%>
   </footer>
</html>