<!DOCTYPE html>

<html>
   <%- include('./bootstrap'); %>
   <head>
      <%- include('./layout/header'); %>

   </head>
   <body>
 
   </body>
   <footer>
      <%- include('./layout/footer');%>
   </footer>
</html>