<!DOCTYPE html>
<html lang="en">

<head>
  <title>Training</title>
  <title></title>
  <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
</head>

<body>
  <div class="text-center">
    <form action="api//update/dataset" method="post" enctype="multipart/form-data">
      <input type="file" name="dataset" id="">
      <input type="submit" value="UpLoad">
    </form>
  </div>


  <script src="js/mission/jquery-1.11.2.min.js"></script>
</body>
<footer>
  <%- include('./layout/footer');%>
</footer>

</html>