<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Always expand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/drone">Camera Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connect-camera">Connect camera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ALlCam">View ALL camera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Mission">Mission controls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bank">bank</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>